.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    height: 100vh;
    width: 700px; 
   
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1px;
    width: 28rem;
    color: #dc1e7c;
}



.containerForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     border: 1px solid  #dc1e7c;
    border-radius: 10px;
    padding: 10px;

}


.containerInput{
  
    width: 20rem;
    height: 3rem;
  
}



.containerRadio{
    
    width: 20rem;
    height: 10rem;
    margin:1rem;
    border:1px solid grey
}