.ContainerCreate{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.boton{
  margin: 2rem;
}

.Error{
  color:red
}

