

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .infoContainer {
/*         background-color:rgba(38, 52, 130, 0.8) ; */
        display: flex;
        flex-direction: column;
        padding: 10rem 24rem;
        gap: 4rem;
    /*     border-radius: 10px;
        margin-bottom: 1rem;
        border: 2px solid #fff; */
        text-align: center;
        position: relative;
    }


/*     .btn {
         background-color: #0e0e14;
        ;
        padding: 1rem 4rem;
        border-radius: 10px;
        font-size: 1.8rem;
        border: 2px solid white;
        transition: background-color 0.3s; 
    }
 */
    
/* .btn:hover {
    background-color: #000000;
    
}
 */