 .container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;

}

.titulo{
    display: flex;
    text-align: center;
    color: brown;
    
} 

.h2Activity {
    text-align: center;
    justify-content: center;
  }



  .divActivityContainer {
    width: 100%;
    height: 100%;
  }